<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>DynamicWebDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
   
  </welcome-file-list>
  
  <servlet> 
  <servlet-name>MyHttpServlet</servlet-name> 
  <servlet-class>com.org.MyServlet</servlet-class> 
  </servlet> 
  <servlet-mapping> 
  <servlet-name>MyHttpServlet</servlet-name> 
  <url-pattern>/welcome</url-pattern> 
  </servlet-mapping>
  
  <servlet>
	<servlet-name>GenServlet</servlet-name>
	<servlet-class>com.org.GenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
<servlet-name>GenServlet</servlet-name>
<url-pattern>/genservlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Register</servlet-name>
<servlet-class>com.org.Register</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Register</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>
  
<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>com.org.Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>
  
  
<servlet>
<servlet-name>Servlet1</servlet-name>
<servlet-class>com.org.reqdisp.Servlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Servlet1</servlet-name>
<url-pattern>/display</url-pattern>
</servlet-mapping>  

<servlet>
<servlet-name>ServletTwo</servlet-name>
<servlet-class>com.org.reqdisp.ServletTwo</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ServletTwo</servlet-name>
<url-pattern>/display1</url-pattern>
</servlet-mapping>  


<servlet>
<servlet-name>search</servlet-name>
<servlet-class>com.org.reqdisp.MySearch</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>search</servlet-name>
<url-pattern>/mysearch</url-pattern>
</servlet-mapping> 
  
<servlet>
<servlet-name>cookies</servlet-name>
<servlet-class>com.org.reqdisp.CookieDemo</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>cookies</servlet-name>
<url-pattern>/mycookie</url-pattern>
</servlet-mapping>   

<servlet>
<servlet-name>cookieredirect</servlet-name>
<servlet-class>com.org.reqdisp.First</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>cookieredirect</servlet-name>
<url-pattern>/first</url-pattern>
</servlet-mapping> 

<servlet>
<servlet-name>sessiontest</servlet-name>
<servlet-class>com.org.sessionmgmt.SessionDemo</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sessiontest</servlet-name>
<url-pattern>/mysession</url-pattern>
</servlet-mapping> 

<servlet>
<servlet-name>sessiont</servlet-name>
<servlet-class>com.org.sessionmgmt.RedirectSession</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sessiont</servlet-name>
<url-pattern>/sessiondata</url-pattern>
</servlet-mapping> 
  
  
</web-app>